body {
    background-color:floralwhite;
    font-family: courier;
    margin: 0;
}




centered {
    text-align: center
}

hero {
    background-image:url(images/LOGO%20copy.PNG);
    background-position:center;
    width: 100%;
}
p  {
  color:currentColor;
  font-family: courier;
  font-size: 140%;
    align-content: center;
}


h1  {
    
text-align:center ;
  font-family: courier;
  font-size: 160%;
}
img.resize {
  width:200px;
  height:40px;
}

li {
    text-align: center
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    transition: .5s;;
}
    
.wrapper
{
    text-align: center;
    padding-left: 25px;
}

h3


#hero .container {
    position:relative;
    top: 50%;
    left: 50%;
    transform:matrix3d();
}

nav ul li {
    display: inline-block;
}

nav ul {
    text-align:center;
}

nav:hover {
    color:cornsilk;
}

hr {
    border-color:beige;
}

.media {
    position: absolute;
    top: 40%;
    transform:  translate(-53%, -50%)
}

#content .site-title {
    color:white;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
    font-family: font-family: 'Archivo Black', sans-serif;
    margin-bottom: 3px;
    
}

#content h2 {
    color:black;
    text-align: center;
    font-size: 50 px;
    letter-spacing; 5px;
    font-family: 'Montserrat', sans-serif; 
}

#content h3:hover {
    font-size: 25px;
    letter-spacing: 5px;
    transition: 0.4s; 
}

.main h3 {
    color:black;
    text-align: center;
    font-family; 'Montserrat'; 
    transition: 0.4s;
}

.main {
    max-width: 700px;
    margin: 0 auto;
    color:black;
}

.main p {
    color:black;
}

p:hover{
    background-color:beige;
    transition: 0.3s; 
}

iframe {
  display: block
}

h4 {
    text-align: center;
    letter-spacing: 5px;
    border-bottom-color: beige 5px;
    color:black;
    transition: 0.3s;
}

h4:hover {
    letter-spacing: 5px; 
    transition: 0.3s; 
    background-color:beige; 
}

img {
    width: 100px;
    height: 100px;
    object-fit:scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
  float:inherit;
    align-content: center
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.pic{
    height: 500px;
    width: 500px;
}

footer { 
  display: block;
}

